.app.light {
  --bg-color: #e3e3e3;
  --inverted-bg-color: #000072;

  --primary-color: #004779;
  --secondary-color: #550080;

  --inverted-primary-color: #ffd8ff;
  --inverted-secondary-color: #b193ff;
}
